/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-area {
  /* display: flex; */
  height: 100%;
  gap: 1rem;
  /* flex-direction: row; */
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
}
