.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vh;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 15px;
  }
  
  .messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .my-message {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
  }
  
  .gpt-message {
    background-color: #fff;
    align-self: flex-start;
    text-align: left;
  }
  
  .input-form {
    display: flex;
    margin: 10px;
  }
  
  .input-field {
    flex: 1;
    background: none;
    outline: none;
  }
  
  .send-button {
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    background-color: #CFD8DC;
    color: #FFFFFF;
    margin-left: 10px;
  }

  .send-button:hover {
    background-color: #29B6F6;
    color: #FFF;
  }
  
  .send-button:active {
    background-color: #29B6F6;
    color: #FFF;
    border: none;
  }

  .send-button:active {
    border: none;
  }

  .input-area {
    padding: 0px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    background-color: #F8F9F9;
  }