.contexts-container {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #b9afaf;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0px;
  }

  .filters-area {
    padding: 5px;
  }
