.contexts-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #100c0c;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
  }


  .filters-area {
    display: flex;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f3f3f3
  }

  .input-area {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #e3e2e2;
  }

  .input-form {
    display: flex;
    margin: 10px;
  }
  
  .input-field {
    flex: 1;
    background: none;
    outline: none;
    border: 1px solid #ccc; /* Added border for better visibility */
    border-radius: 5px;
    padding: 10px;
  }
  
  .send-button {
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    background-color: #605362;
    color: #e3e2e2;
    margin-left: 10px;
  }

  .input-area {
    padding: 0px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    background-color: #e3e2e2;
  }

  
  